.trigger {
	border-bottom: 1px dashed white;	
}
.trigger:hover {
	color: rgb(255,0,0);
}

.tooltip {
	display: inline-block;
	padding: 10px;
	background-color: rgb(255, 255, 255);
	border: 5px solid rgb(59,89,182);
	border-radius: 5px;
}

.tooltip h3 {
	margin: 0px;
	padding: 0px;
	display: block;
	font-weight: normal;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 22px;
	letter-spacing: -1px;
	color: rgb(59,89,182);
	line-height: 24px;
}
.tooltip p {
	margin: 0px;
	padding: 0px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	clear: both;
	padding-bottom: 6px; 
	color: black !important;	
}

.main {
	width: 800px;	
}

.centered {  
	background-color: white;
	position: fixed;
	z-index: 100;  
	top: 25%;  
	left: 25%;  
	width: 50%;  
	height: 50%;  
}  
