{{! Handlebars template for friends and friends of friends info }}
{{! Parameters: friends: { fbid, name, section }, friendsoffriends: { fbid, name, section, num_mutuals }, }}
{{! template_id, course, section, show_section }}
<div id="{{course}}{{#if section}}{{section}}{{/if}}">
  <ul>
    <li>
      <a href="#{{course}}{{#if show_section}}{{section}}{{/if}}friends">
        <span>Friends{{#if show_section}} in {{course}}{{appendSec show_section section}}{{/if}}</span>
      </a>
    </li>
    <li>
      <a href="#{{course}}{{#if show_section}}{{section}}{{/if}}friendsoffriends">
        <span>People You May Know{{#if show_section}} in {{course}}{{appendSec show_section section}}{{/if}}</span>
      </a>
    </li>
  </ul>
  <div id="{{course}}{{#if show_section}}{{section}}{{/if}}friends">
    {{#each friends}}
      <center>
        <p><a href="http://www.facebook.com/{{fbid}}">{{name}}</a> <img src="https://graph.facebook.com/{{fbid}}/picture"></img> {{#unless show_section}}(Sec. {{section}}){{/unless}}
        </p>
      </center>
    {{/each}}
  </div>
  <div id="{{course}}{{#if show_section}}{{section}}{{/if}}friendsoffriends">
    {{#each friendsoffriends}}
      <center>
        <p><a href="http://www.facebook.com/{{fbid}}">{{name}}</a> <img src="https://graph.facebook.com/{{fbid}}/picture"></img> {{#unless show_section}}(Sec. {{section}}){{/unless}} ({{num_mutuals}} Mutual Friend(s))</p>
      </center>
    {{/each}}
  </div>
</div>