{{! Handlebars template for login html }}
{{! Parameters: login_button_id, logout_button_id, user_div_id, loader_id, }}
{{! login_button_path, logout_button_path, loader_path, login_info_div_id, checkbox_div_id }}
{{! insert_share_button, share_button_path, share_button_id, note_id, checkbox_id }}
<center>
  <br />
  <div id="{{login_info_div_id}}"></div>
  <br />
  <table>
    <tr>
      {{#if insert_share_button}}
        <td>
          <img style="cursor: pointer; display: none;" id="{{share_button_id}}" src="{{share_button_path}}"></img>
        </td>
      {{/if}}
      <td>
        <img style="cursor: pointer; display: none;" id="{{login_button_id}}" src="{{login_button_path}}" width="175"></img>
        <img style="cursor: pointer; display: none;" id="{{logout_button_id}}" src="{{logout_button_path}}"></img>
      </td>
    </tr>
  </table>
  <br />
  <div id="{{checkbox_div_id}}" style="display: none;">
    See friends' schedules and let them see my schedule? 
    <input id="{{checkbox_id}}" type="checkbox" name="enable_sharing" value="choice" {{#if share}}checked{{/if}}>
    <br />
  </div>
  <p style="display: none;" id="{{note_id}}"><b>Note on Permissions:</b> In order to share your schedule, you must grant UMD Social Scheduler permission to post on Facebook for you.</p>
  <img id="{{loader_id}}" style="padding-top: 20px; display: block;" src="{{loader_path}}" width="25"></img>
  <br />
  <div style="display: none;" id="{{user_div_id}}"></div>
</center>
