{{! Handlebars template for displaying friends and friends of friends tabs }}
{{! Parameters: template_id, skeleton_id, courses, loader_path }}
<div id="{{skeleton_id}}">
  <br />
  <div id="{{template_id}}" style="display: none; width: 850px; border: 2px solid #4c66a4;">
    <ul>
      {{#each courses}}
        <li><a href="#{{course}}tab"><span>{{course}}</span></a></li>
      {{/each}}
    </ul>
    {{#each courses}}
     <div id="{{course}}tab">
       {{> friends_tabs }}
      </div>
    {{/each}}
  </div>
</div>
